$break-xs: 300px;
$break-sm: 600px;
$break-md: 800px;
$break-lg: 1000px;
$break-xl: 1200px;
$main-color: #e41b1b;
$main-color-darker: #cd1818;
$main-color-lighter: #e73232;
$topbar-height: 3em;
$footbar-height: 3.5em;
$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

::-moz-selection, ::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
Author: Andrea Hasani
========================================================================== */

body {
    background-color: #d4d4d4 !important;
    display: flex;
    align-items: center;
    height: 100%;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    min-height: 100%;
}

.main-container {
    min-height: calc(100% - (#{$topbar-height} + #{$footbar-height}));
    width: 90%;
    margin: 0 5%;
}

/* ===================
=================== */

.header-container {
    border-bottom: 20px solid #e44d26;
    height: 100px;

    .title, nav {
	height: 100px;
    }

    .title {
	width: 30%;
	float: left;
	padding-left: 30px;
    }
    nav {
	position: inherit;
	width: 70%;
	float: right;
	background: none;
	box-shadow: none;
	padding: 0;

	ul {
	    list-style: none;
	    display: inline;
	    float: right;

	    li {
		margin: 0;
		width: 150px;
		float: left;

		a {
		    color: white;
		    padding: 30px 0;
		}
	    }
	}
    }
}

.title {
  color: white;
}



@import url(https://fonts.googleapis.com/css?family=Lato:400,700);


@keyframes typing_color {
  0%   {opacity: .4;}
  30%  {color: .6;}
  60%  {color: .8;}
  90% {color: 1;}
}

      .typing_on {
	  padding-left: 15px;
	  display: inline-block;
	  position: initial;

	  i {
	      animation-name: typing_color;
	      animation-duration: 1400ms;
	      animation-iteration-count: infinite;
	      opacity: 0;
	      color: green;
	      font-size: 10px;
	      &.one {
		  animation-delay: 0;
	      }

	      &.two {
		  animation-delay: 400ms;
	      }

	      &.three {
		  animation-delay: 800ms;
	      }

	      &.four {
		  animation-delay: 1200ms;
	      }
	  }
      }

#frame {
  width: 95%;
  min-width: 360px;
  max-width: 1400px;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;
  margin: 0 auto;

  #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #226066;;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
    #profile {
      width: 80%;
      margin: 25px auto;
      &.expanded .wrap {
        height: 140px;
        line-height: initial;
        p {
          margin-top: 20px;
        }
        .arrw-down {
	    padding-top: 65px;
        }
      }
      .wrap {
        height: 60px;
        line-height: 60px;
        overflow: hidden;
        -moz-transition: 0.3s height ease;
        -o-transition: 0.3s height ease;
        -webkit-transition: 0.3s height ease;
        transition: 0.3s height ease;
	.arrw-down {
	    text-align: center;
	    width: 100%;
	    padding-top: 35px;
	    position: absolute;
	    left: 0;

	    i {
		font-size: 130%;
	    }
	}
        img {
          width: 50px;
          border-radius: 50%;
          padding: 3px;
          border: 2px solid #e74c3c;
          height: auto;
          float: left;
          cursor: pointer;
          -moz-transition: 0.3s border ease;
          -o-transition: 0.3s border ease;
          -webkit-transition: 0.3s border ease;
          transition: 0.3s border ease;
          &.online {
            border: 2px solid #2ecc71;
          }
          &.away {
            border: 2px solid #f1c40f;
          }
          &.busy {
            border: 2px solid #e74c3c;
          }
          &.offline {
            border: 2px solid #95a5a6;
          }
        }
        p {
          float: left;
          margin-left: 15px;
        }
        i.expand-button {
          float: right;
          margin-top: 23px;
          font-size: 0.8em;
          cursor: pointer;
          color: #435f7a;
        }
        #status-options {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          width: 150px;
          margin: 70px 0 0 0;
          border-radius: 6px;
          z-index: 99;
          line-height: initial;
          background: #435f7a;
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          &.active {
            opacity: 1;
            visibility: visible;
            margin: 75px 0 0 0;
          }
          &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 8px solid #435f7a;
            margin: -8px 0 0 24px;
          }
          ul {
            overflow: hidden;
            border-radius: 6px;
            li {
              padding: 15px 0 30px 18px;
              display: block;
              cursor: pointer;
              &:hover {
                background: #496886;
              }
              span.status-circle {
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin: 5px 0 0 0;
                &:before {
                  content: '';
                  position: absolute;
                  width: 14px;
                  height: 14px;
                  margin: -3px 0 0 -3px;
                  background: transparent;
                  border-radius: 50%;
                  z-index: 0;
                }
              }
              p {
                padding-left: 12px;
              }
              &#status-online {
                span.status-circle {
                  background: #2ecc71;
                }
                &.active span.status-circle:before {
                  border: 1px solid #2ecc71;
                }
              }
              &#status-away {
                span.status-circle {
                  background: #f1c40f;
                }
                &.active span.status-circle:before {
                  border: 1px solid #f1c40f;
                }
              }
              &#status-busy {
                span.status-circle {
                  background: #e74c3c;
                }
                &.active span.status-circle:before {
                  border: 1px solid #e74c3c;
                }
              }
              &#status-offline {
                span.status-circle {
                  background: #95a5a6;
                }
                &.active span.status-circle:before {
                  border: 1px solid #95a5a6;
                }
              }
            }
          }
        }
        #expanded {
          padding: 100px 0 0 0;
          display: block;
          line-height: initial !important;
          label {
            float: left;
            clear: both;
            margin: 0 8px 5px 0;
            padding: 5px 0;
	    i {
		font-size: 150%;
	    }
          }
          input {
            border: none;
            margin-bottom: 6px;
            background: #32465a;
            border-radius: 3px;
            color: #f5f5f5;
            padding: 7px;
            width: calc(100% - 43px);
            &:focus {
              outline: none;
              background: #435f7a;
            }
          }
        }
      }
    }
    #search {
      border-top: 1px solid #32465a;
      border-bottom: 1px solid #32465a;
      font-weight: 300;
      label {
        position: absolute;
        margin: 10px 0 0 20px;
      }
      input {
        font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
        padding: 10px 0 10px 46px;
        width: calc(100% - 25px);
        border: none;
        background: #2C3C3D;
        color: #f5f5f5;
	width: 100%;
        &:focus {
          outline: none;
          background: #017B86;
        }
        &::placeholder {
          color: white;
        }

      }
    }
    #contacts {
      height: calc(100% - 177px);
      // overflow-y: scroll;
      overflow-x: hidden;
      &.expanded {
        height: calc(100% - 334px);
      }
      &::-webkit-scrollbar {
        width: 8px;
        background: #2c3e50;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #243140;
      }
      ul li.contact {
	  display: flex;
	  min-height: 65px;
	  position: relative;
	  padding: 10px 0 15px 0;
	  font-size: .9em;
	  cursor: pointer;
	  align-items: center;
        &:hover {
          background: #32465a;
        }
        &.active {
          background: #32465a;
          border-right: 5px solid #435f7a;
          span.contact-status {
            border: 2px solid #32465a !important;
          }
        }
        .wrap {
          width: 88%;
          margin: 0 auto;
          position: relative;
          span {
            position: absolute;
            left: 0;
            margin: -2px 0 0 -2px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #2c3e50;
            background: #95a5a6;
            &.online {
              background: #2ecc71;
            }
            &.away {
              background: #f1c40f;
            }
            &.busy {
              background: #e74c3c;
            }
          }
          img {
            width: 40px;
            border-radius: 50%;
            float: left;
            margin-right: 10px;
          }
          .meta {
            padding: 5px 0 0 0;
            .name {
              font-weight: 600;
            }
            .preview {
              margin: 5px 0 0 0;
              padding: 0 0 1px;
              font-weight: 400;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              -moz-transition: 1s all ease;
              -o-transition: 1s all ease;
              -webkit-transition: 1s all ease;
              transition: 1s all ease;
              span {
                position: initial;
                border-radius: initial;
                background: none;
                border: none;
                padding: 0 2px 0 0;
                margin: 0 0 0 1px;
                opacity: .5;
              }
            }
          }
        }
      }

      #no-items-found {
	  text-align: center;
	  padding-top: 20px;
      }
    }
    #bottom-bar {
      position: absolute;
      width: 100%;
      bottom: 0;
      button {
        float: left;
        border: none;
        width: 50%;
        padding: 10px 0;
        background: #2C3C3D;
        color: #f5f5f5;
        cursor: pointer;
        font-size: 0.85em;
        font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
        &:focus {
          outline: none;
        }
        &:nth-child(1) {
	    border-right: 1px solid #226066;
        }
        &:hover {
          background: #017B86;
        }
        i {
          margin-right: 3px;
          font-size: 1em;
        }
      }
    }
  }
  .content {
    height: 100%;
    overflow: hidden;
    position: relative;



    .contact-profile {
      width: 100%;
      height: 60px;
      line-height: 60px;
      background: #f5f5f5;
      img {
        width: 40px;
        border-radius: 50%;
        float: left;
        margin: 9px 12px 0 9px;
      }
      p {
        float: left;
      }
      .social-media {
        float: right;
        i {
          margin-left: 14px;
          cursor: pointer;
          &:nth-last-child(1) {
            margin-right: 20px;
          }
          &:hover {
            color: #435f7a;
          }
        }
      }
    }
    .messages {
	position: relative;
	width: 100%;
      height: auto;
      min-height: calc(100% - 101px);
      max-height: calc(100% - 101px);
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 8px;
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
      }


      ul li {
        display: inline-block;
        clear: both;
        float: left;
        margin: 15px 15px 5px 15px;
        width: calc(100% - 25px);
        font-size: 1.1em;
        &:nth-last-child(1) {
          margin-bottom: 20px;
        }
        &.sent {
          img {
            margin: 6px 8px 0 0;
          }
	  p {
	      word-break: break-word;
	  }
          p, .attachment {
            background: #435f7a;
            color: #f5f5f5;
          }

        }

	.attachment {
            background: #435f7a;
	    display: inline-block;
	    padding: 10px 15px;
	    border-radius: 20px 20px 0 0;
	    max-width: 205px;
	    line-height: 130%;
	    p {
		float: left !important;
		padding: 10px 0px;
		max-width: 100%;
		font-size: 80%;
	    }

	}

	.attachment {

	    .icon {
		padding: 10px 20px;
		text-align: center;

		i {
		    font-size: 3em;
		}
	    }

	    .title::before {
		content: "Title: ";
        }
	}
        &.replies {
          img {
            float: right;
            margin: 6px 0 0 8px;
          }
          p, .attachment {
            background: #435f7a;
            color: #f5f5f5;
            float: right;
          }
        }
        img {
          width: 22px;
          border-radius: 50%;
          float: left;
        }
        p {
          display: inline-block;
          padding: 10px 15px;
          border-radius: 20px;
          max-width: 205px;
          line-height: 130%;
        }
      }
    }
    .message-input {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 99;
      .wrap {
        position: relative;
        input {
	    background: white;
          font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
	  float: left;
	  border: none;
          width: calc(100% - 90px);
	  padding: 16px 32px 10px 8px;
          font-size: 0.8em;
          color: #32465a;
          &:focus {
            outline: none;
          }

	  &:disabled::placeholder {
	color: white;
      }
        }
        .attachment {
          position: absolute;
          right: 62px;
          z-index: 4;
          margin-top: 11px;
          font-size: 1.1em;
          color: #435f7a;
          opacity: .5;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
        button {
          float: right;
          border: none;
          width: 50px;
          padding: 12px 0;
          cursor: pointer;
          background: #226066;
          color: #f5f5f5;
          &:hover {
            background: #017B86;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 735px) {
#frame {
  #sidepanel {
    width: 58px;
    min-width: 58px;
    #profile {
      width: 100%;
      margin: 0 auto;
      padding: 5px 0 0 0;
      background: #32465a;
      .wrap {
        height: 55px;

        p {
          display: none;
        }
        img {
          width: 40px;
          margin-left: 4px;
        }
        i.expand-button {
          display: none;
        }
        #status-options {
          width: 58px;
          margin-top: 57px;
          &.active {
            margin-top: 62px;
          }
          &:before {
            margin-left: 23px;
          }
          ul li {
            padding: 15px 0 35px 22px;
            span.status-circle {
              width: 14px;
              height: 14px;
              &:before {
                height: 18px;
                width: 18px;
              }
            }
            p {
              display: none;
            }
          }
        }
      }
    }
    #search {
      display: none;
    }
    #contacts {
      height: calc(100% - 149px);
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
      ul li.contact {
        padding: 6px 0 46px 8px;
        .wrap {
          width: 100%;
          img {
            margin-right: 0px;
          }
          .meta {
            display: none;
          }
        }
      }
    }
    #bottom-bar button {
      float: none;
      width: 100%;
      padding: 15px 0;
      &:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #2c3e50;
      }
      i {
        font-size: 1.3em;
      }
      span {
        display: none;
      }
    }
  }
  .content {
    .messages {
      max-height: calc(100% - 105px);
      ul li {
	  font-size: .8em;
	  p {
	      max-width: 80%;
	  }
      }
    }
    .message-input .wrap {
      .attachment {
        margin-top: 17px;
      }
      button {
        padding: 16px 0;
      }
      input {
        padding: 15px 32px 16px 8px;
      }
    }
  }
}
}


.prgrs {
    height: 80%;
    width: 80%;
    margin: 10px auto;
}

.prgrs > svg {
    height: 100%;
    display: block;
}

@keyframes rotating {
    from {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
    }
    to {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
    }
    to {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
    }
}
.rotating {
    svg {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
	transform-origin: 50% 50%;
    }

    .progressbar-text {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
    }
}



