.mobile-menu {
    height: $topbar-height;
    padding: 0;
    display: block;
    background: $main-color;
    line-height: 1.6em;
    font-weight: 400;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;

    #title {
	padding-left: 20px;
	color: white;
	display: flex;
	height: 100%;
	float: left;
	align-items: center;
    }
    ul {
	list-style-type: none;
	margin: 0 auto;
	float: right;
	padding-left: 0;
	text-align: center;
    }
    li {
	display: inline-block;
	/*float: left;
	margin-right: 1px;*/
    a {
	display: block;
	min-width: 140px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: -5px;
	padding: 10px 0;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
    }
    &:hover {
	a {
	    color: black;
	}
	ul a {
	    color: black;
	    height: 40px;
	    line-height: 40px;
	}
	.mobile-menu ul a:hover {
	    color: #4db3ff;
	}
    }
    ul {
	display: none;
	li {
	    display: block;
	    float: none;
	    a {
		width: auto;
		min-width: 100px;
		padding: 0 20px;
	    }
	}
    }
}
.show-menu {
    height:100%;
    text-decoration: none;
    color: #fff;
    background: $main-color;
    text-align: center;
    padding: 10px 15px;
    display: none;
    cursor: pointer;
    text-transform: uppercase;
    span {
	padding-left: 10px;
    }
}
input[type=checkbox] {
    display: none;
    &:checked ~ #menu {
	max-height: 15em;
    }
}
}
