{% extends "base.html" %}
{% block head %}
<meta name="description" content="Template" />
{{ super() }}
{% endblock %}
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block content %}
<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="https://i.pravatar.cc/100?u={{user}}" class="online" alt="" />
				<p>{{ user }}</p>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div class="arrw-down"><i class="fas fa-chevron-down"></i></div>
				<div id="expanded">
					<label for="logout"><i class="fas fa-sign-out-alt"></i></label>
					<input name="logout" type="button" value="Logout" />
				</div>
			</div>
		</div>
		<div id="search" class="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul class="list">
	{% if friends != undefined %}
	    {% for friend in friends %}
				<li class="contact">
					<div class="wrap">
					    <span class="contact-status {{ friend.user_info.status }}"></span>
					    <img src="https://i.pravatar.cc/100?u={{friend.username}}" alt="" />
						<div class="meta">
						    <p class="name">{{ friend.username }}</p>
							<p class="preview"></p>
						</div>
					</div>
				</li>
				{% endfor %}
				{% endif %}
			</ul>
		</div>
		<!-- <div id="bottom-bar"> -->
		<!-- 	<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button> -->
		<!-- 	<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button> -->
		<!-- </div> -->
	</div>
	<div class="content">
		<div class="contact-profile">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/1024px-Placeholder_no_text.svg.png" alt="" />
			<p class="username">Select User</p>
		</div>
		<div class="messages">
			<ul>
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input id="message-to-send" type="text" placeholder="Write your message..." disabled/>
			<input id="file_attachment" type="file" style="position: fixed; top: -100em">
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button class="submit"><i class="fas fa-angle-right fa-lg"></i></button>
			</div>
		</div>
	</div>
</div>
{% raw %}
<script id="message-template" type="text/x-handlebars-template">
    {{#if response}}
    <li class="replies">
  {{else}}
    <li class="sent">
{{/if}}
					<img src="https://i.pravatar.cc/100?u={{user}}" alt="" />

    {{#if attachment}}
					<div class="attachment">
    {{#if attachment_loading}}
					<div class="rotating prgrs" id="prgrs"></div>
  {{else}}
					    <div class="icon" id="{{attachment_id}}">
					    <a href="{{link}}">
    <div class="fi fi-{{fileExtension}} fi-size-xl">
	<div class="fi-content">{{fileExtension}}</div>
    </div>
    </a>
					    </div>
{{/if}}
					<p class='title'>{{ title }}</p>
	</div>
  {{else}}
					<p>{{ message }}</p>
{{/if}}


				</li>
</script>


{% endraw %}
{% endblock %}

