$break-xs: 300px;
$break-sm: 600px;
$break-md: 800px;
$break-lg: 1000px;
$break-xl: 1200px;
$main-color: #e41b1b;
$main-color-darker: #cd1818;
$main-color-lighter: #e73232;
$topbar-height: 3em;
$footbar-height: 3.5em;
$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

::-moz-selection, ::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
Author: Andrea Hasani
========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    min-height: 100%;
}

.main-container {
    min-height: calc(100% - (#{$topbar-height} + #{$footbar-height}));
    width: 90%;
    margin: 0 5%;
}

/* ===================
=================== */

.header-container {
    border-bottom: 20px solid #e44d26;
    height: 100px;

    .title, nav {
	height: 100px;
    }

    .title {
	width: 30%;
	float: left;
	padding-left: 30px;
    }
    nav {
	position: inherit;
	width: 70%;
	float: right;
	background: none;
	box-shadow: none;
	padding: 0;

	ul {
	    list-style: none;
	    display: inline;
	    float: right;

	    li {
		margin: 0;
		width: 150px;
		float: left;

		a {
		    color: white;
		    padding: 30px 0;
		}
	    }
	}
    }
}

.title {
  color: white;
}



@import url(https://fonts.googleapis.com/css?family=Lato:400,700);


.chat_platform {
    padding: 0 !important;
    > .row {
	width: 100%;
	margin: 0;
    }
    ul {
	list-style: none;
    }

    *, *:before, *:after {
	box-sizing: border-box;
    }

    .container {
	margin: 0 auto;
	background: #444753;
	border-radius: 5px;
    }

    .people-list {
	background: #444753;

	.search {
	    padding: 20px;
	}

	input {
	    border-radius: 3px;
	    border: none;
	    padding: 14px;
	    color: white;
	    background: #6A6C75;
	    width: 90%;
	    font-size: 14px;
	}

	.fa-search {
	    position: relative;
	    left: -25px;
	}

	ul {
	    padding: 20px;




	    li {
		padding-bottom: 20px;
	    }
	}

	img {
	    float: left;
	}

	.about {
	    float: left;
	    margin-top: 8px;

	    color: white;
	}

	.about {
	    padding-left: 8px;
	}

	.status {
	    color: $gray;
	}

    }

    .chat {
	background: #F2F5F8;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	color: #434651;

	.chat-header {
	    padding: 20px;
	    border-bottom: 2px solid white;

	    img {
		float: left;
	    }

	    .chat-about {
		float: left;
		padding-left: 10px;
		margin-top: 6px;
	    }

	    .chat-with {
		font-weight: bold;
		font-size: 16px;
	    }

	    .chat-num-messages {
		color: $gray;
	    }

	    .fa-star {
		float: right;
		color: #D8DADF;
		font-size: 20px;
		margin-top: 12px;
	    }
	}

	.chat-history {
	    padding: 30px 30px 20px;
	    border-bottom: 2px solid white;
	    overflow-y: scroll;
	    height: 575px;

	    .message-data {
		margin-bottom: 15px;
	    }

	    .message-data-time {
		color: lighten($gray, 8%);
		padding-left: 6px;
	    }

	    .message {
		color: white;
		padding: 18px 20px;
		line-height: 26px;
		font-size: 16px;
		border-radius: 7px;
		margin-bottom: 30px;
		width: 90%;
		position: relative;

		&:after {
		    bottom: 100%;
		    left: 7%;
		    border: solid transparent;
		    content: " ";
		    height: 0;
		    width: 0;
		    position: absolute;
		    pointer-events: none;
		    border-bottom-color: $green;
		    border-width: 10px;
		    margin-left: -10px;
		}
	    }

	    .my-message {
		background: $green;
	    }

	    .other-message {
		background: $blue;

		&:after {
		    border-bottom-color: $blue;
		    left: 93%;
		}
	    }

	}

	.chat-message {
	    padding: 30px;

	    textarea {
		width: 100%;
		border: none;
		padding: 10px 20px;
		font: 14px/22px "Lato", Arial, sans-serif;
		margin-bottom: 10px;
		border-radius: 5px;
		resize: none;

	    }

	    .fa-file-o, .fa-file-image-o {
		font-size: 16px;
		color: gray;
		cursor: pointer;

	    }

	    button {
		float: right;
		color: $blue;
		font-size: 16px;
		text-transform: uppercase;
		border: none;
		cursor: pointer;
		font-weight: bold;
		background: #F2F5F8;

		&:hover {
		    color: darken($blue, 7%);
		}
	    }
	}
    }

    .online, .offline, .me {
	margin-right: 3px;
	font-size: 10px;
    }

    .online {
	color: $green;
    }

    .offline {
	color: $orange;
    }

    .me {
	color: $blue;
    }

    .align-left {
	text-align: left;
    }

    .align-right {
	text-align: right;
    }

    .float-right {
	float: right;
    }

    .clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
    }

}
