{% extends "base.html" %}
{% block head %}
<meta name="description" content="Template" />
{{ super() }}
{% endblock %}
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block content %}
<nav class="mobile-menu">
<label for="show-menu" class="show-menu"><span>Menu</span><div class="lines"></div></label>
<input type="checkbox" id="show-menu">
<a href="#" id="title">Flask Base Template</a>
<ul id="menu">
    <li><a href="#home">Home</a></li>
    <li>			<a href="#">About</a>		</li>
    <li>			<a href="#">Portfolio</a>		</li>
    <li><a href="#news">News</a></li>
    <li><a href="#">Contact</a></li>
</ul>
</nav>

<div class="chat_platform container-fluid">
  <div class="row clearfix">
    <div class="people-list col-5 col-lg-3 col-xl-2" id="people-list">
      <div class="search">
        <input type="text" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>
      <ul class="list">
        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
          <div class="about">
	      <div class="name">{{ user }}</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
	</li>


      </ul>
    </div>

    <div class="chat col">
      <div class="chat-header clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

        <div class="chat-about">
	    <div class="chat-with">Chat with <span id="user_name">{{ user }}</span></div>
          <div class="chat-num-messages">already 1 902 messages</div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->

      <div class="chat-history">
        <ul>
        </ul>

      </div> <!-- end chat-history -->

      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>

        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>

        <button>Send</button>

      </div> <!-- end chat-message -->

    </div> <!-- end chat -->

  </div> <!-- end container -->
</div> <!-- End chat_platform -->

{% raw %}
<script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
      <span class="message-data-name" >{% endraw %}{{ user }}{% raw %}</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
      {{response}}
    </div>
  </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> {{user}}</span>
      <span class="message-data-time">{{time}}, Today</span>
    </div>
    <div class="message my-message">
      {{response}}
    </div>
  </li>
</script>
{% endraw %}


{% endblock %}
